# Ignore .gitignore for eas (even for: eas build --local)
# Learn more https://docs.expo.dev/build-reference/easignore/
# And https://github.com/expo/fyi/blob/main/eas-build-archive.md#eas-cli

.git

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# builds (artifacts)
*.ipa
*.apk
*.aab

# Eas
android/build/
android/.idea
android/.gradle
ios/build/
ios/Pods/